---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/SocialIcons.astro';
---

<a title='pianno app' href="https://ssc-pianno.vercel.app">
    <img alt='pianno app' class='hover:opacity-75 mt-2 w-5 h-5' src='./favicon.svg'>
</a>
<Default {...Astro.props}><slot /></Default>